version: '3.8'

services:
  backend:
    build: ./backend
    container_name: python_backend
    restart: unless-stopped
    env_file: .env
    expose:
      - "8080"
    networks:
      - internal_net

  nginx:
    build: ./nginx
    container_name: nginx_proxy
    restart: always
    ports:
      - "${EXTERNAL_PORT}:80"
    depends_on:
      backend:
        condition: service_healthy
    networks:
      - internal_net

networks:
  internal_net:
    driver: bridge
